version: "3.8"

services:
  # 1. The Vector Database
  qdrant:
    image: qdrant/qdrant:latest
    container_name: vidsearch_qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./qdrant_data:/qdrant/storage
    restart: always

  # 2. The Message Broker (Lightweight Kafka)
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest
    container_name: vidsearch_redpanda
    command:
      - redpanda start
      - --smp 1 # Use 1 CPU core (Development mode)
      - --memory 1G # Limit RAM usage
      - --reserve-memory 0M
      - --overprovisioned
      - --node-id 0
      - --check=false
      # Listen on 9092 inside Docker, and 9094 for your local Python scripts
      - --kafka-addr PLAINTEXT://0.0.0.0:9092,OUTSIDE://0.0.0.0:9094
      - --advertise-kafka-addr PLAINTEXT://redpanda:9092,OUTSIDE://localhost:9094
    ports:
      - "9094:9094" # Connect here from your Python Producer/Consumer
      - "8081:8081" # Schema Registry
    volumes:
      - ./redpanda_data:/var/lib/redpanda/data
    restart: always

  # 3. The Kafka UI (Console)
  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest
    container_name: vidsearch_console
    ports:
      - "8080:8080" # Access UI at http://localhost:8080
    environment:
      KAFKA_BROKERS: redpanda:9092
    depends_on:
      - redpanda
    restart: always
