# --- Backend API (Producer) ---
fastapi
uvicorn
pydantic
requests
python-multipart

# --- Infrastructure (Messaging & DB) ---
kafka-python
qdrant-client
sqlalchemy>=2.0.45
psycopg2-binary>=2.9.11

# --- Video Processing (Worker) ---
opencv-python-headless
yt-dlp
Pillow

# --- AI & Machine Learning ---
torch
transformers

# --- Frontend (UI) ---
streamlit
watchdog
pandas>=2.0.0

redis
